<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/novidadesJava8/src/novidadesJava8/ExemploCursos.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="novidadesJava8.ExemploCursos"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="novidadesJava8"/>
</launchConfiguration>
